@model OnlineLibraryApplication.Models.BookStatus

@{
    ViewBag.Title = "ReserveBook";
}

<h2>Reserve Book Confirmation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookId)
        <table>
            <tr><th>Returned Date</th></tr>
            <tr><td>@DateTime.Now.AddDays(7)</td></tr>


        </table>
        <h4>Do you want to reserve this book?</h4>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="RESERVE" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
